*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
    background-color: var(--clr-neutral-800);
    line-height: 1.6;
    height: 100vh;
}

p{
    font-size: 1.125rem;
    // max-width: 35ch;
    color: var(--clr-primary-100);
}


h2:hover {
    color: var(--clr-primary-200)
}