$colors: (
    primary: (
        100: hsl(215, 51%, 70%),
        200: hsl(178, 100%, 50%),
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        600: hsl(215, 32%, 27%),
        700: hsl(216, 50%, 16%),
        800: hsl(217, 54%, 11%),
    )
);